body {
  padding: 50px;
  background: #212121;
}

zing-grid {
    font-family: 'Open Sans';
    max-width: 1000px;
    margin: 0 auto;
}

zg-caption {
  font-size: 25px;
  border-bottom: 1px solid #5ab1ce;
  color: #5ab1ce;
}
.coin-icon {
    height: 15px;
    margin-right: 8px;
    width: 15px;
}

.coin-name {
    display: flex;
}

.coin-name__section {
    align-items: center;
    display: flex;
    margin-right: 4px;
}

.coin-name__symbol {
    font-size: 0.8rem;
}

.coin-name__text {
    font-size: 1.2rem;
    font-weight: 600;
}

.percent-change {
    font-size: 1.2rem;
}

.price {
    display: flex;
}

.price__dollars {
    font-size: 1.6rem;
}

.price__cents {
    margin-top: 4px;
    margin-left: 2px;
}

zg-watermark {
  display: none;
}